<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tiendas Samurai
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="item-content"  *ngFor="item of array"> <!-- aqui va el for-->
    <ion-item class="item-store" button (click)="buttonClick()" *ngIf="value">
      <ion-avatar>
        <img src="./assets/icon/online-shopping.svg">
      </ion-avatar>
      <ion-avatar>
        <img class="grayscale" src="./assets/icon/online-shopping.svg">
      </ion-avatar>
      <div class="item-titles">
        <ion-label class="title">
          {{store}}
        </ion-label>
        <ion-label class="subtitle">
          {{ip}}
        </ion-label>
      </div>
    </ion-item>

    <ion-item class="item-store" button (click)="buttonClick()" *ngIf="!value">
      <div class="spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ion-item>
  </div>

  <ion-button (click)="changeValue()">
    cambiar valor
  </ion-button>
</ion-content>
