ion-content{
  --background: #f5f5f5;
}

/* image */

.grayscale { 
  filter: grayscale(90%) !important; 
}

/* item store */

.item-store{
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  --background: white;
  --color: black;
  border-radius: 10px;
  
  ion-avatar{
    --border-radius: none;
  }

  ion-label{
    margin-left: 10px;
  }
}

.item-titles{

}

.title{
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle{

}

/* spinner container */

.spinner-container{
  width:40px;
  margin-left: calc((100% - 40px)/2);
}
